@page
@model ScriptureJournal.Pages.Journal.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JournalEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-4">
                <label asp-for="JournalEntry.BookId" class="control-label h5"></label>
                <select asp-for="JournalEntry.BookId" class ="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group mt-4">
                <label asp-for="JournalEntry.Chapter" class="control-label h5"></label>
                <input asp-for="JournalEntry.Chapter" class="form-control" />
                <span asp-validation-for="JournalEntry.Chapter" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="JournalEntry.Text" class="control-label h5"></label>
                <textarea rows="8" asp-for="JournalEntry.Text" class="form-control"></textarea>
                <span asp-validation-for="JournalEntry.Text" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class='mt-4'>
    <a asp-page="Index">Back to Journal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
